.home-slider-image {
  width: 100%;
  height: 100%;
  background: url("../img/home-slider-bg.png") no-repeat center;
  background-size: cover;
  border-radius: 32px;
  border-bottom: 8px solid #192939;
  overflow: hidden;
}

.home-slider-image__item {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.home-content {
  max-width: 620px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.home-slider {
  margin: auto 0;
  width: 100%;
}
.home-slider-arrows .slick-next {
  order: 1;
  margin: 0;
}
.home-slider-arrows .slick-dots {
  width: 100%;
  margin: 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  position: relative;
  z-index: 1;
  list-style: none;
}
.home-slider-arrows .slick-dots li {
  flex: 1;
  transition: 0.3s ease;
  cursor: pointer;
  position: relative;
  z-index: 1;
  background: transparent;
}
.home-slider-arrows .slick-dots li:after {
  content: "";
  border-radius: 50%;
  width: 8px;
  height: 8px;
  min-width: 8px;
  background: #192939;
  display: block;
}
.home-slider-arrows .slick-dots li::before {
  content: "";
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translate(0, -50%);
  height: 1px;
  width: 100%;
  background: #afc7ce;
  z-index: -1;
}
.home-slider-arrows .slick-dots li button {
  display: none;
}
.home-slider-arrows .slick-dots li:last-child {
  flex: none;
}
.home-slider-arrows .slick-dots li:last-child::before {
  display: none;
}
.home-slider-arrows .slick-dots li.slick-active ~ li:after {
  background: #afc7ce;
}
.home-slider-arrows .slick-dots li.slick-active ~ li::before {
  background: url("../img/slick-line.svg") no-repeat center;
  background-size: 100%;
}

.home-slider-item {
  width: 100%;
}
.home-slider-item .box-text {
  margin: 24px 0;
  max-width: 520px;
}
.home-slider-item__img {
  margin: 16px 0 0;
  width: 100%;
  background: url("../img/home-slider-bg-mobile.png") no-repeat center;
  background-size: cover;
  border-radius: 32px;
  border-bottom: 8px solid #192939;
  overflow: hidden;
  display: none;
  padding: 28px 0 0;
}

.home-slider-arrows__slider {
  position: relative;
  width: 100%;
  margin: 0 32px;
}

.advantages-section {
  margin: 120px 0 80px;
}

.advantages-box {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  padding: 32px;
  background: #eff3f6;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
}
.advantages-box::before, .advantages-box:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
}
.advantages-box::before {
  bottom: 32px;
  right: 32px;
}
.advantages-box::after {
  top: 32px;
  left: 32px;
}
.advantages-box__icon {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 24px auto;
  background: #fff;
  width: 144px;
  height: 144px;
  min-width: 144px;
  padding: 32px;
}
.advantages-box .box-text {
  max-width: 180px;
}

.mission-section {
  margin: 0 0 120px;
}
.mission-section .box-text {
  max-width: 570px;
}

.mission-text {
  max-width: 370px;
}
.mission-text .btn {
  margin: 48px 0 0;
}

.btn-add-basket .svg-icon {
  margin: 0 0 0 8px;
}

.product-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 1;
  border-radius: 24px;
  border: 1px solid #afc7ce;
  overflow: hidden;
  background: #eff3f6;
}
.product-card .btn-add-comparison {
  position: absolute;
  top: 16px;
  right: 16px;
}
.product-card__photo {
  width: 100%;
  height: 438px;
  border-bottom: 1px solid #afc7ce;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.product-card__body {
  width: 100%;
  height: calc(100% - 438px);
  background: #fff;
  padding: 24px;
  display: flex;
  flex-direction: column;
}
.product-card__head {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.product-card__head-box:last-child {
  text-align: right;
}
.product-card__name {
  max-width: 293px;
  margin: 0;
}
.product-card .box-text {
  font-size: 14px;
  line-height: 14px;
  color: rgba(25, 41, 57, 0.6);
  margin: 8px 0 24px;
}
.product-card .btn-group {
  margin: auto 0 0;
}

.link-review {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 16px 0 0 auto;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.6px;
  color: #192939;
  fill: #6ac1ef;
}
.link-review:hover {
  color: #6ac1ef;
}
.link-review svg {
  width: 16px;
  height: 16px;
  min-width: 16px;
  margin: 0 4px 0 0;
}

.popular-card {
  width: 100%;
  height: 100%;
  min-height: 347px;
  position: relative;
  z-index: 1;
  background: #eff3f6;
  border-radius: 32px;
  padding: 32px;
  border: 1px solid #eff3f6;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.3s ease;
}
.popular-card::before, .popular-card:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
}
.popular-card:before {
  bottom: 30px;
  right: 30px;
}
.popular-card:after {
  top: 30px;
  left: 30px;
}
.popular-card__img {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
}
.popular-card__name {
  color: #192939;
  margin: 24px 0 0;
  max-width: 195px;
}
.popular-card__name:hover {
  color: #6ac1ef;
}
.popular-card:hover {
  background: #e4ecf3;
}
.popular-card:hover .btn-link-white {
  background: #6ac1ef;
  fill: #fff;
  border-color: #6ac1ef;
}
.popular-card:hover .btn-link-white svg {
  transform: rotate(45deg);
}

.popular-card-v2 {
  background: #fff;
  border-color: #e4ecf3;
}
.popular-card-v2::before, .popular-card-v2:after {
  background: #e4ecf3;
}
.popular-card-v2 .btn-link-white {
  fill: #7cc1e5;
  background: #eff3f6;
}

.popular-card-all {
  background: #6ac1ef;
}
.popular-card-all .popular-card__img {
  top: 46px;
  right: 52px;
  bottom: auto;
}
.popular-card-all .popular-card__name {
  color: #fff;
  max-width: 240px;
  margin: 0;
}
.popular-card-all::before, .popular-card-all:after {
  background: #fff;
}
.popular-card-all:hover .popular-card__name {
  color: #192939;
}

.brands-section {
  color: #fff;
  text-align: center;
}
.brands-section .wrapper-bg {
  background: url("../img/brands-bg.jpg") no-repeat center;
  background-size: cover;
  border-radius: 32px;
  border-bottom: 8px solid #192939;
}

.brands-wrapper {
  margin: 0 auto;
  max-width: 1232px;
  padding: 120px 24px;
}

.list-brands {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.list-brands li {
  margin: 32px;
}
.list-brands a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.callback-section h2 {
  margin: 0 0 10px;
}
.callback-section .steps-order__wrapper {
  max-width: 483px;
}

.reviews-section {
  padding: 120px 0 72px;
}
.reviews-section .container {
  padding: 0 24px;
  max-width: 1535px;
}
.reviews-section .row {
  margin: 0 -24px;
}
.reviews-section .row > * {
  padding: 0 24px;
}
.reviews-section .mb-48 {
  margin-bottom: 48px;
}

.reviews-card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  border-radius: 24px;
  background: #eff3f6;
  padding: 32px 0;
}
.reviews-card__photo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 236px;
  padding: 0 15px;
  border-right: 1px solid #afc7ce;
}
.reviews-card__body {
  width: calc(100% - 236px);
  padding: 0 32px;
}
.reviews-card__head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.reviews-card__head-box:last-child {
  text-align: right;
}
.reviews-card__date {
  padding: 4px 16px;
  background: #fff;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.6px;
  border-radius: 24px;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}
.reviews-card .rating-box {
  margin: 8px 0;
  justify-content: flex-end;
}
.reviews-card .h3 {
  margin: 0;
}
.reviews-card__content {
  margin: 56px 0 0;
  width: 100%;
}
.reviews-card h4 {
  color: #6ac1ef;
}
.reviews-card .box-text {
  color: rgba(25, 41, 57, 0.6);
  -webkit-line-clamp: 3;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.reviews-card .box-text.open {
  display: block;
  overflow: visible;
}

.link-load-more {
  display: flex;
  align-items: center;
  margin: 8px 0 0;
  color: #192939;
}
.link-load-more:hover {
  color: #6ac1ef;
}
.link-load-more:hover svg {
  fill: #6ac1ef;
}
.link-load-more span {
  text-decoration: underline;
}
.link-load-more svg {
  width: 24px;
  height: 24px;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 2px;
  fill: #192939;
}
.link-load-more.trigger svg {
  transform: rotate(180deg);
}

.category-product-link {
  color: rgba(25, 41, 57, 0.6);
  margin: 8px 0 0;
  text-decoration: underline;
}
.category-product-link:hover {
  color: #6ac1ef;
}

.link-reviews-all {
  color: rgba(25, 41, 57, 0.6);
}
.link-reviews-all:hover {
  color: #6ac1ef;
}

.blog-card {
  width: 100%;
  display: flex;
  align-items: flex-end;
  background: #fff;
  padding: 32px;
  border-radius: 32px;
  margin: 0 0 32px;
  font-size: 18px;
  line-height: 22px;
}
.blog-card:last-child {
  margin: 0;
}
.blog-card__head {
  display: flex;
  align-items: flex-end;
}
.blog-card__img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 32px;
  width: 316px;
  height: 200px;
  min-width: 316px;
  border-radius: 24px;
  overflow: hidden;
}
.blog-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog-card__date {
  background: #e4ecf3;
  border-radius: 24px;
  padding: 8px 13px;
  letter-spacing: 0.6px;
  min-width: 132px;
  max-width: 132px;
  width: 100%;
  transition: 0.3s ease;
}
.blog-card__body {
  display: flex;
  align-items: flex-end;
}
.blog-card__title {
  color: #192939;
  max-width: 440px;
  width: 100%;
  margin: 0 32px 0 0;
}
.blog-card__title:hover {
  color: #6ac1ef;
}
.blog-card .box-text {
  color: rgba(25, 41, 57, 0.4);
  max-width: 364px;
}
.blog-card .btn-link {
  margin: 0 0 0 24px;
}
.blog-card:hover .blog-card__date {
  background: #6ac1ef;
  color: #fff;
}
.blog-card:hover .btn-link-border-accent {
  background: #6ac1ef;
  fill: #fff;
}

.link-details {
  text-decoration: underline;
  margin: 10px 0 0;
  color: #6ac1ef;
}

.seo-content__wrapper {
  background: #fff;
  width: 100%;
}
.seo-content__content .box-text {
  margin: 37px 0 0;
  max-width: 545px;
  width: 100%;
}
.seo-content__content .box-text strong {
  display: inline;
}

.list-advantages {
  width: 100%;
}
.list-advantages-item {
  width: 100%;
  margin: 0 0 24px;
  padding: 32px;
  border-radius: 24px;
  background: #eff3f6;
}
.list-advantages-item:last-child {
  margin: 0;
}
.list-advantages-item .box-text {
  margin: 8px 0 0;
}
.list-advantages-item h4 {
  position: relative;
  z-index: 1;
}
.list-advantages-item h4::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: -3px;
  top: -3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
}

.steps-order__img {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  overflow: hidden;
}
.steps-order__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.steps-order__content {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  padding: 120px;
  background: #e4ecf3;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
}
.steps-order__wrapper {
  max-width: 602px;
  width: 100%;
  margin: 0 auto;
}

.steps-order-box {
  border-radius: 24px;
  background: #fff;
  width: 100%;
  display: flex;
  align-items: stretch;
  margin: 0 0 16px;
  padding: 32px;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.6px;
}
.steps-order-box:last-child {
  margin: 0;
}
.steps-order-box__number {
  margin: 0;
  padding: 0 24px 0 0;
  color: #e4ecf3;
  border-right: 2px solid #e4ecf3;
  width: 107px;
  min-width: 107px;
  margin: 0;
}
.steps-order-box__text {
  padding: 0 0 0 24px;
}