@import "vars"

// advantages-section
.advantages-section
  margin: 120px 0 80px
       
.advantages-box
  width: 100%
  height: 100%
  position: relative
  z-index: 1
  padding: 32px
  background: $light-gray
  border-radius: 24px
  display: flex
  flex-direction: column
  &::before, &:after
    content: ''
    position: absolute
    z-index: -1
    width: 8px
    height: 8px
    border-radius: 50%
    background: #fff
  &::before
    bottom: 32px
    right: 32px
  &::after
    top: 32px
    left: 32px
  &__icon
    border-radius: 50%
    @include d-flex
    margin: 0 0 24px auto
    background: $white
    width: 144px
    height: 144px
    min-width: 144px
    padding: 32px
  .box-text
    max-width: 180px  
    
// mission-section
.mission-section
  margin: 0 0 120px
  .box-text
    max-width: 570px


.mission-text
  max-width: 370px
  .btn
    margin: 48px 0 0   


// brands-section
.brands-section
  color: $white
  text-align: center
  .wrapper-bg
    background: url('../img/brands-bg.jpg') no-repeat center
    background-size: cover



.brands-wrapper
  margin: 0 auto
  max-width: 1232px
  padding: 120px 24px

.list-brands
  width: 100%
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: center
  li
    margin: 32px
  a
    @include d-flex  

// callback-section
.callback-section
  h2
    margin: 0 0 10px
  .steps-order__wrapper
    max-width: 483px    

// seo-content
.seo-content
  &__wrapper
    background: $white
    width: 100%
  &__content
    .box-text
      margin: 37px 0 0
      max-width: 545px
      width: 100%
      strong
        display: inline

.list-advantages
  width: 100%
  &-item
    width: 100%
    margin: 0 0 24px
    padding: 32px
    border-radius: 24px
    background: $light-gray
    &:last-child
      margin: 0
    .box-text
      margin: 8px 0 0
    h4
      position: relative
      z-index: 1
      &::before
        content: ''
        position: absolute
        z-index: -1
        left: -3px
        top: -3px
        width: 8px
        height: 8px
        border-radius: 50%
        background: $white



// steps-order
.steps-order
  &__img
    width: 100%
    height: 100%
    border-radius: 24px
    overflow: hidden
    img
      width: 100%
      height: 100%
      object-fit: cover
  &__content
    width: 100%
    height: 100%
    border-radius: 24px
    padding: 120px
    background: $gray
    backdrop-filter: blur(40px)
  &__wrapper
    max-width: 602px
    width: 100%
    margin: 0 auto

.steps-order-box
  border-radius: 24px
  background: #fff
  width: 100%
  display: flex
  align-items: stretch
  margin: 0 0 16px
  padding: 32px
  font-size: 18px
  line-height: 22px
  letter-spacing: 4%
  &:last-child
    margin: 0
  &__number
    margin: 0
    padding: 0 24px 0 0
    color: $gray
    border-right: 2px solid $gray
    width: 107px
  &__text
    padding: 0 0 0 24px
