/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px)

@media only screen and (max-width: 992px)

@media only screen and (max-width: 768px)

@media only screen and (max-width: 576px)
  h1, .h1
    font-size: 40px
    line-height: 40px

  h2, .h2
    font-size: 32px
    line-height: 32px

@media only screen and (max-width: 480px)

@media only screen and (max-width: 420px)

@media only screen and (max-width: 370px)
